<p id="notice"><%= notice %></p>

<p>
  <b>Employee name:</b>
  <%= @employee.employee_name %>
</p>

<p>
  <b>Position:</b>
  <%= @employee.position %>
</p>

<h3>Interviews</h3>

<ol>
<% @employee.interview_sessions.each do |is|%>
    <li>
        <%= is.start_time%>
    </li>
<% end %>
</ol>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
