<%= form_for(@interview_session_schedule) do |f| %>
  <% if @interview_session_schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interview_session_schedule.errors.count, "error") %> prohibited this interview_session_schedule from being saved:</h2>

      <ul>
      <% @interview_session_schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :interview_session_id %><br />
    <%= select ("interview_session_schedule", "interview_session_id", @interview_sessions.map {|u| [u.start_time,u.id]}) %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br />    
    <%= select ("interview_session_schedule", "employee_id", @employees.map {|u| [u.employee_name,u.id]}) %>
  </div>
  <div class="field">
    <%= f.label :accepted %><br />
    <%= f.check_box :accepted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
