<h1><%=@candidate.candidate_name%></h1>
<h2><%=Position.find(1).position_name%></h2>

<h3>Agenda</h3>

<% @candidate.interview_sessions.each do |interview_session| %>
    <h4><%= interview_session.panel_type%></h4>
    <p><%= interview_session.start_time.strftime("%I:%M %p")%> - <%= interview_session.end_time.strftime("%I:%M %p")%></p>
    <p>Location: <%= interview_session.location %></p>
    
    <ul>
    <%interview_session.employees.each do |employee|%>
        <li><%= employee.employee_name%> - <%= employee.position%></li>
    <% end %>
    </ul>
<% end %>